In [1]:
import domojupyter as domo
import os
import json
import pandas as pd
!pip install openai
import openai

Requirement already satisfied: openai in ./.conda/lib/python3.9/site-packages (0.27.2)
Requirement already satisfied: tqdm in ./.conda/lib/python3.9/site-packages (from openai) (4.64.0)
Requirement already satisfied: aiohttp in ./.conda/lib/python3.9/site-packages (from openai) (3.8.4)
Requirement already satisfied: requests>=2.20 in ./.conda/lib/python3.9/site-packages (from openai) (2.27.1)
Requirement already satisfied: idna<4,>=2.5 in ./.conda/lib/python3.9/site-packages (from requests>=2.20->openai) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in ./.conda/lib/python3.9/site-packages (from requests>=2.20->openai) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in ./.conda/lib/python3.9/site-packages (from requests>=2.20->openai) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in ./.conda/lib/python3.9/site-packages (from requests>=2.20->openai) (1.26.9)
Requirement already satisfied: attrs>=17.3.0 in ./.conda/lib/python3.9/site-packages (from aiohttp->openai) (22.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in ./.conda/lib/python3.9/site-packages (from aiohttp->openai) (1.3.3)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in ./.conda/lib/python3.9/site-packages (from aiohttp->openai) (4.0.2)
Requirement already satisfied: multidict<7.0,>=4.5 in ./.conda/lib/python3.9/site-packages (from aiohttp->openai) (6.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in ./.conda/lib/python3.9/site-packages (from aiohttp->openai) (1.8.2)
Requirement already satisfied: aiosignal>=1.1.2 in ./.conda/lib/python3.9/site-packages (from aiohttp->openai) (1.3.1)

In [2]:
input = domo.read_dataframe('Sample Sales for Translation', query='SELECT * FROM table')

df = input[['department']]
df = df.rename(columns={
                      'department': 'text'})
df = df.drop_duplicates()
df.tail(10)

              text
1       Mens Shoes
2   Outdoor Sports
3     Youth Sports
5      Electronics
6     Womens Shoes
12         Cycling
13     Accessories
14  Womens Apparel
37            Golf
43    Water Sports

In [3]:
openai.api_key = "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"

def translate_text(text, target_language):
    response = openai.Completion.create(
        engine="text-davinci-003",
        prompt=f"Translate '{text}' to {target_language}:",
        max_tokens=1024,
        n=1,
        stop=None,
        temperature=0.7,
    )
    translation = response.choices[0].text.strip()
    return translation

In [4]:
target_languages = ['fr', 'es', 'de'] # French, Spanish, German
translated_df = pd.DataFrame(columns=['text'] + [f'translated_{lang}' for lang in target_languages])

In [5]:
for i, row in df.iterrows():
    text = row['text']
    translation_row = {'text': text}
    for lang in target_languages:
        translation = translate_text(text, lang)
        translation_row[f'translated_{lang}'] = translation
    translated_df = pd.concat([translated_df, pd.DataFrame(translation_row, index=[0])], ignore_index=True)

In [6]:
# Print translated dataframe
print(translated_df)

              text           translated_fr           translated_es  \
0     Mens Apparel   Vêtements pour hommes       Ropa para Hombres
1       Mens Shoes  Chaussures pour hommes    Zapatos para hombres
2   Outdoor Sports     Sports de plein air  Deportes al aire libre
3     Youth Sports       Jeunesse sportive      Deportes Juveniles
4      Electronics            Électronique             Electrónica
5     Womens Shoes  Chaussures pour femmes        Zapatos de Mujer
6          Cycling                Cyclisme                Ciclismo
7      Accessories             Accessoires              Accesorios
8   Womens Apparel   Vêtements pour femmes           Ropa de Mujer
9             Golf                    Golf                    Golf
10    Water Sports        Sports nautiques      Deportes Acuáticos

       translated_de
0   Männerbekleidung
1      Männer Schuhe
2      Outdoor-Sport
3       Jugend-Sport
4         Elektronik
5       Frauenschuhe
6      Fahrradfahren
7            Zubehör
8    Damenbekleidung
9               Golf
10       Wassersport

In [7]:
domo.write_dataframe(translated_df, 'Translated Departments')